
.addProductComp {
    box-sizing: border-box;

    margin-top: 10px;

    position: absolute;

    width: 90%;
    padding: 50px;

    left: -1500px;
    /* top: -1000px; */







    transition: all 2s ease-in-out;


    background-color: rgb(206, 25, 247);

    text-align: center;

}