@font-face {
        font-family: mainCopy;
        src: url('../../fonts/copy/YanoneKaffeesatz-VariableFont_wght.ttf');
}


@font-face {
        font-family: topHeader;
        src: url('../../fonts/Combo-Regular.ttf');
}


